@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: black;
  --background: white;
  --menu-background: transparent;
  --menu-foreground: black;
  --menu-border: black;
}

body {
  background: var(--background);
}

body,
p,
label,
h1 {
  color: var(--foreground-rgb);
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
}

.link {
  color: var(--foreground-rgb);
  text-decoration: underline;
}
