.graphContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.settingsIcon {
  width: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 1em;
}

.settingsIcon:hover {
  transform: scale(1.1);
}

.circle {
  background-color: red;
  position: fixed;
  z-index: -1;
  width: 100vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: blur(100px);
  border-radius: 100%;
}

.video {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  filter: blur(100px);
  min-width: 100vw;
  min-height: 100vh;
}

.openDetailsMenuIcon {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 50px;
  cursor: pointer;
  transition: 0.2s;
  transform: translate(-50%, 0);
  border-radius: 1em;
}

.openDetailsMenuIcon:hover {
  transform: translate(-50%, -5px) scale(1.1);
}
